body {
    background-color: #0e0c0c;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 46px;
    text-align: center;
    letter-spacing: 0.6rem;
    color: rgb(14, 204, 204);
}

textarea {
    display: block;
    background: transparent;
    border-color: rgb(14, 204, 204);
    width: 65%;
    height: 35vh;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 20px;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    margin: 0 auto;
    padding: 5px 5px;
    width: 68%;
    height: 35vh;
    /* border: solid 2.5px rgb(80, 53, 3); */
}

.row {
    width: 99%;
    height: 18%;
    border: solid 1px rgb(14, 204, 204);
    margin: 0 auto;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    border: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6%;
    height: 95%;
    border: solid 1px rgb(14, 204, 204);
    border-radius: 8%;
    font-size: 16px;
    color: rgb(14, 204, 204);
    text-align: center;
    /* padding-top: 10px; */
}

.btn:hover {
    background-color: rgb(14, 204, 204);
    color: #0e0c0c;
}

.wide {
    flex-basis: 50%;
}

.flex-basis {
    flex-basis: 12%;
    background-color: rgb(6, 44, 44);
}

.special-btn {
    background-color: rgb(6, 44, 44);
}

.white-space {
    color: #0e0c0c;
    border-radius: 0%;
}

.white-space:hover {
    color: rgb(14, 204, 204);
}

.clicked {
    border-radius: 16px;
    border: none;
}

.clicked:hover {
    background-color: #fff;
    border: none;
    color: #0e0c0c;
    
}

.white-space.clicked:hover {
    color: #fff;
}

.none {
    display: none;
}

.upperCase {
    text-transform: uppercase;
}

.active {
    background-color: #fff;
    border-radius: 16px;
    border: none;
    color: #0e0c0c;
}